

*{
  padding: 0;
  margin: 0;
}
body {
  padding-top: 58px;
}

ul{
  list-style-type: none;
}

a{
  color: black;

}

a :hover{
  text-decoration: none !important;

}

.active{
  font-weight: bold;
  transform: scale(1.25);
}

.card{
  width: 26rem;
}

.card-body{
  width: 26rem;
}
